body{
    background: rgb(216, 216, 216);
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.centrado{
  margin-top: 45px;
  margin-bottom: 45px;
    background-color: white;
    text-align: center;
    color: black;
    width: 70%;
    padding: 30px;
    border-radius: 25px;
}
.container{
  text-align: -webkit-center;
}

@import url("https://fonts.googleapis.com/css2?family=Helvetica");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 5px;
}

header {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  /*   padding: 24px 31px; */
  padding: min(24px, 3.6vmin) max(4vmin, 31px);
}

header nav {
  max-width: 468px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 20px;
}

#head-menu {
  align-items: center;
  display: flex;
  margin-top: 1px;
  padding-top: min(24px, 3.6vmin);
  padding-bottom: min(24px, 3.6vmin);
  justify-content: center;
  background-color: white;

}

body #head-menu ul {
  background-color: #E61D2A;
  border-radius: 30px;
  padding: 6.4px 21px;
  margin-inline-start: 0px;
  padding-inline-start: 22px;
}

nav ul {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0;
  padding: 6.4px 21px;
  
}

nav ul li {
  
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

nav ul li a {
  color:white;
  text-decoration: none;
  font-size: 16px;
  font-family: "Helvetica", system-ui, sans-serif;
}
.logo img{
  width: 40%;
  
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.footer {
	background-color: #151515;
	padding: 80px 0;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #E91E63;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}